* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #56a5eb, #4568dc);

}

.container {
    background: #fff;
    width: 400px;
    height: 630px;
    margin: 70px auto;
    border-radius: 15px;
}

/*Select Area Styles  */
#select_area,
#result_area,
#error_area {
    /* background: #890890; */
    color: #56a5eb;
    font-size: 25px;
    width: 100%;
    height: 100%;
    padding: 80px 30px;
}

select,
input {
    background: white;
    outline: 2px solid #56a5eb;
    color: cornflowerblue;
    border: none;
    font-size: large;
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
}


input::-webkit-input-placeholder {
    color: #56a5eb;
}

select:hover,
input:hover,
.button:hover,
li:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px rgba(86, 185, 235, 0.5);
    font-weight: bold;
    transform: translateY(-3px);
    transition: transform 150ms;

}

button {
    background: white;
    outline: 2px solid #56a5eb;
    color: cornflowerblue;
    border: none;
    margin-left: 140px;
    margin-top: 15px;
    padding: 15px 30px;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px rgba(86, 185, 235, 0.5);
    font-weight: bold;
    font-size: 15px;
    transform: translateY(-3px);
    transition: transform 150ms;
    color: white;
    background: #56a5eb;
}

button:disabled:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Loader styles */
#loading_circle {
    padding-top: 55%;
    padding-left: 41%;
}

#loader {
    border: 8px solid black;
    border-radius: 50%;
    border-top: 8px solid #56a5eb;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

#load_area>p {
    text-align: center;
    margin: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Quiz Area Styles */
.header {
    background: #000;
    color: #56a5eb;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

h2 {
    padding: 10px 20px;
    overflow: auto;
}

.content {
    overflow: auto;
}

h2::-webkit-scrollbar,
.content::-webkit-scrollbar,
li::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    padding-top: 20px;
}

li {
    border: #56a5eb solid 2px;
    max-width: 580px;
    font-size: large;
    height: 55px;
    overflow: auto;
    margin: 20px 10px;
}

li:hover {
    cursor: pointer;
}

p {
    padding: 10px;
    font-size: 25px;
    white-space: pre-wrap;
}

i {
    font-size: 18px;
    padding: 0;
}

/* Result Area Styles */

/* UITLITY CLASSES */
.display {
    display: none;
}

.fa-check-circle {
    color: green;
}

.incorrect {
    color: red;
    background: rgba(241, 93, 73, 0.4)
}

.correct {
    color: green;
    background: rgba(95, 241, 107, 0.4);
}